@model Ziggurat.Registration.Client.RegistrationStatus.RegistrationStatusView

@{
    ViewBag.Title = "Registration Successful!";
}

<fieldset>
        <legend>Here is what we know about you:</legend>
        <ol>
            <li>
                @Html.NameFor(m => m.Login): @Model.Login
            </li>
            <li>
                @Html.NameFor(m => m.DisplayName): @Model.DisplayName
            </li>
            <li>
                @Html.NameFor(m => m.Email): @Model.Email
            </li>
        </ol>
    </fieldset>
