@using Ziggurat.Web.Helpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Ziggurat</title>

           <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
           <!--[if lt IE 9]>
             <script src="~/scripts/html5shiv.js"></script>
           <![endif]-->
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/setup")
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/bundles/bootstrap/css")
        @Styles.Render("~/Content/themes/base/css")

        @Styles.Render("~/Content/css")
    </head>
    <body>
        <header>

            <div class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-inner">
                <div class="container-fluid">
                  <a class="brand" href="/">[ Ziggurat ]</a>
                  <div class="nav-collapse">
                    <ul class="nav">
                      @if (Url.IsInProject()) {
                          @Html.MenuItemForPath(@"Configuration\Home\Index", "Configuration")
                          @Html.MenuItemForPath(@"Contacts\Home\Index", "Contacts")
                          @Html.MenuItemForPath(@"Forms\Home\Index", "Documents")
                      }
                    </ul>
                    <div class="nav pull-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                  </div><!--/.nav-collapse -->
                </div>
              </div>
            </div>
        </header>

        <div class="well well-small">
            <div class="container-fluid">
                @RenderSection("submenu", required: false)
                @if (Request.IsAuthenticated) {
                    <div class="pull-right">
                      @{Html.RenderAction("List", "Project", new { area = "Configuration" });}
                    </div>
                }
            </div>
        </div>
        <div class="container-fluid">
            @RenderBody()
        </div>
        <footer class="footer">
            <div class="container">
                <p>&copy; @DateTime.Now.Year - Ziggurat initiative group :)</p>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap/js")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            $(document).ready(function () {
                $(".ui-datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'yy-mm-dd'
                });
            });
        </script>
    </body>
</html>
