@model Ziggurat.Web.Areas.Configuration.Models.FormInfoModel
@{
    ViewBag.Title = "Overview: " + Model.Form.Name;
}

@section Submenu {
    @Html.Partial("_AddPropertyComponent", new Ziggurat.Web.Areas.Configuration.Models.NewPropertyModel { FormId = Model.Form.Id })
}

@functions {
    MvcHtmlString GetPropertyRowClass(bool isUsed)
    {
        var tag = isUsed ? "" : "class='error'";
        return new MvcHtmlString(tag);
    }
}

<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">@Model.Form.Name</a></li>
    <li><a href="#properties" data-toggle="tab">Properties</a></li>
    <li><a href="#layout" data-toggle="tab">Layout</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home">
        <fieldset>
            <ol class="unstyled">
                <li>Name: <strong>@Model.Form.Name</strong>
                </li>
                <li>Unique name: <strong>@Model.Form.UniqueName</strong>
                </li>
            </ol>
        </fieldset>
    </div>
    <div class="tab-pane" id="properties">
        @Html.Partial("BasicPropertyList", Model.Properties)
    </div>
    <div class="tab-pane" id="layout">

    </div>
    <div class="tab-pane" id="settings">...</div>
</div>

@section Scripts {
    <script src="~/Areas/Configuration/Scripts/configuration.basicPropList.js"></script>
    <script src="~/Scripts/redips-drag-min.js"></script>

    <script type="text/javascript">
        $(function () {
            REDIPS.drag.init();
        });
    </script>
}
