@model Ziggurat.Web.Areas.Configuration.Models.NewPropertyModel
@using Ziggurat.Web.Helpers

<a href="#addPropertyModal" class="btn" data-toggle="modal"><i class="icon icon-plus"></i> New Property</a>

<div class="modal hide" id="addPropertyModal" tabindex="-1" role="dialog" aria-labelledby="addPropertyModalLabel" aria-hidden="true">
    @using (Ajax.BeginForm("AddNew", "Property", new AjaxOptions { OnSuccess = "onAddPropertySuccess", OnFailure = "onAddPropertyFailure", OnBegin="onBeginAddProperty" })) 
    {
      @Html.HiddenFor(m => m.FormId)
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="addPropertyModalLabel">Add new property</h3>
      </div>
      <div class="modal-body">
        <ol class="unstyled">
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Type)
                @Html.EnumDropDownListFor(m => m.Type)
            </li>
        </ol>
        <div id="errorMessage" style="color:red"></div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-primary">Proceed</button>
      </div>
    }
</div>

    <script type="text/javascript">
        function onBeginAddProperty() {
            $('#errorMessage').html('');
        }
        function onAddPropertyFailure(response) {
            $("#errorMessage").text(response.responseText);
        }
        function onAddPropertySuccess(response) {
            window.location.href = '@Url.ActionUrlForPath("Configuration/Property/Overview")/' + response;
        }
    </script>
