@model Ziggurat.Web.Areas.Configuration.Models.CreateFormModel
@using Ziggurat.Web.Helpers

<a href="#addFormModal" class="btn" data-toggle="modal"><i class="icon icon-plus"></i> New Form</a>

<div class="modal hide" id="addFormModal" tabindex="-1" role="dialog" aria-labelledby="addFormModalLabel" aria-hidden="true">
    @using (Ajax.BeginForm("AddNewForm", "Form", new AjaxOptions { OnSuccess = "onCreateFormSuccess", OnFailure = "onCreateFormFailure", OnBegin="onBeginCreatingForm" })) 
    {
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="addFormModalLabel">Add new form</h3>
      </div>
      <div class="modal-body">
        <ol class="unstyled">
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.UniqueName)
                @Html.TextBoxFor(m => m.UniqueName)
                @Html.ValidationMessageFor(m => m.UniqueName)
            </li>
        </ol>
        <div id="errorMessage" style="color:red"></div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button type="submit" class="btn btn-primary">Proceed</button>
      </div>
    }
</div>

    <script type="text/javascript">
        function onBeginCreatingForm() {
            $('#errorMessage').html('');
        }
        function onCreateFormFailure(response) {
            $("#errorMessage").text(response.responseText);
        }
        function onCreateFormSuccess(response) {
            window.location.href = '@Url.ActionUrlForPath("Configuration/Form/Overview")/' + response;
        }
    </script>
